body {
  margin: 0;
  padding: 0;
  height: 100vh;


  display: grid;
  grid-template-columns: 220px 1fr; 
  grid-template-rows: 70px 1fr 60px; 
}

nav {
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background: #ffffff;
  height: 70px;
}

/* SIDEBAR sempre fixa à esquerda */
.sidebar {
  grid-column: 1 / 2;
  background: #f5f5f5;
  padding: 10px;
  text-align: center;;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebarbutton {
  padding: 12px 20px;
  cursor: pointer;
  background: #00000017;
  border-radius: 8px;
  margin: 10px;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 transition: 0.5s;
}
.sidebarbutton:hover {
 transition: 0.5s;
 transform: scale(1.10);
}
.sidebarbutton:active {
  transition: 0.5s;
  transform: scale(0.90);
  background-color: rgba(0, 255, 255, 0.199);
}
main {
  grid-column: 2 / 3;
  padding: 20px;
  background: #fafafa;
}
footer {
  grid-column: 1 / 3;
  background: #eee;
}
.logo {
  width: 170px;
}
.dashboard {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr;
  padding: 10px;
  grid-template-areas: 
    "cardgrupos cardcontas"
    "visaogeral visaogeral"
}
.cardgrupos {

  border: 1px solid black;
  grid-area: cardgrupos;
  padding: 5px;
  border-radius: 20px;
  text-align: center;
  margin: 10px;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cardcontas {
  margin: 10px;
  border: 1px solid black;
  text-align: center;
  border-radius: 20px;
}
.visaogeral {
  grid-area: visaogeral;
  display: flex;
  border-radius: 20px;
  padding: 10px;
  height: 100%;
  width: 100%;
  border: 1px solid black;
}